﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FirstPage.aspx.cs" Inherits="LotApplicable.AppCode.FirstPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        Item Id&nbsp;&nbsp;&nbsp;<asp:TextBox ID="txtId" runat="server"></asp:TextBox>
        <br />
        <br />
        Qyt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="txtQty" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="btnIssue" runat="server" Text="Issue" OnClick="btnIssue_Click" />
    </form>
</body>
</html>
